body {
    overflow-x: hidden;
    margin: 0;
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    height: 100vh;
}


.Pomodoro {
    background-color: #BA4949;
    transition: all ease 0.5s;
}
  
.Short_Break {
    background-color: #518A58;
    transition: all ease 0.5s;
}
  
.Long_Break {
    background-color: #7D53A2; 
    transition: all ease 0.2s;
}

.cPomodoro {
    color: #BA4949; 
}
  
.cShort_Break {
    color: #518A58; 
}
  
.cLong_Break {
    color: #7D53A2; 
}

.containerHeader {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #555;
}

.leftSide {
    flex: 1;
    display: flex;
    align-items: center;
}

.leftSide h1 {
    font-size: 22px;
    margin: 20px;
    color: #fff;
}

.rightSide {
    display: flex;
}

.rightSide button {
    margin: 20px;
    padding: 7px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.modal-overlay {
    display: flex;
    justify-content: center;
}

.modal {
    margin-top: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    background-color: #000;
}
  
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px; 
    height: 350px;
}

.modal-content button {
    margin-top: 40px;
    background-color: #999;
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.config {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.config h4 {
    font-weight: bolder;
    margin-top: 20px;
    font-size: 22px;
}

.config h5 {
    font-weight: lighter;
    margin: 0;
    font-size: 20px;
    color: #999;
    margin-top: -10px;
}

.config .timers {
    margin-top: 10px;
    display: flex;
    align-items: start;
    gap: 25px;
}

.config .timer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.config .timer label {
    margin-top: 5px;
    margin-left: 3px;
}

.config .timer input {
    width: 100%;
    padding-left: 5px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #EFEFEF;
    outline: none;
}
  

.container {
    margin: 20px 10px;
    display: flex;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.area-buttons .btn {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.button button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.active {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 400px;
    }
    .containerHeader {
        width: 600px;
    }
    .leftSide h1 {
        margin: 0;
    }
    .rightSide button {
        margin: 20px;
    }
}

@media (max-height: 400px) {
    .button button {
        height: 50px;
        margin-bottom: 20px;
    }
    .area-buttons {
        margin-top: 10px;
    }
}